<link rel="stylesheet" href="/css/users.css">

<div id="users-data">
  <h1>ChatIO | Users Profile</h1>
  <p> <span>Name:</span> <%= profile_user.name %> </p>
  <p> <span>Email:</span> <%= profile_user.email %> </p>
  <p> <span>Password:</span> <%= profile_user.password %> </p>
</div>
