

<link rel="stylesheet" href="./css/users.css">

<style>
  #profile{
    margin-top:15vh;
    /* background-color: red; */
  }
</style>

<div id="profile">
<h1> Home Page of the: <%= user.name %> </h1>
<!-- <p> Name: <%= user.name %> </p> -->
<p> Email: <%= user.email %> </p>


<section id='feed-post'>
  <h3>Posts</h3>
  <form action="/posts/create" id='new-post-form' method="POST">
    <textarea name="content" cols="30" rows="4" placeholder="Enter Text here...."></textarea>
    <input type="submit" value="POST">
  </form>
</section>
</div>