
body{
  background-color: rgb(220, 223, 226);
  display: flex;
  justify-content: space-around;
}

#profile{
  width:45vw;
  margin-top:5vh;
  margin-left: 10vw;
  background-color: white;
}

#comment-container{
  display: flex;
  position: relative;
  width: 93%;
  margin-left: 1% ;
  justify-content: space-between;
}

#delete-button{
  color: red;
  font-size: 1.2rem;
}
#post-list-container{
  width:100%;
  margin-top:2vh;
  text-align: left;
  height:auto;
  display: block;
  margin-bottom: 5vh;
}

#post-list-container ul{
position: relative;
left:-45px;
display:inline-block;
}

.post{
margin:10px;
background-color: rgb(16, 53, 88);
}

#button{
  background-color: rgb(53, 61, 141);
  color:white;
  width:150px;
  padding:3px;
  font-size: 0.9rem;
  height:4vh;
  cursor: pointer;
  border-radius: 5px;;
}
h1,h3{
  text-align: center;
  color:rgb(216, 193, 63)
}

#post-comment-list{
  background-color: rgb(73, 16, 138);
  color:rgb(221, 218, 215);
  /* margin:10px; */
}
#post-comment-list span{
  color:aqua;
  font-size: 22px;
}
#post-comment-list p{
  /* color:aqua; */
  margin-left: 10px;
  margin-top: -1px;
  font-size: 17px;
}
#comment-content{
  color:wheat
}

aside{
  display: inline;
  padding-left: 2vw;
  border-left: 2px solid rgb(180, 177, 177);
  a{
    color:rgb(238, 6, 199);
  }

}

#users-data{
  margin-top: 7vw;
  p{
    color: rgb(70, 67, 67);
    text-align: center;
    letter-spacing: 1px;
  }
  span{
    // letter-spacing: 1px;
    color:black;
    font-size: 1.1rem;
  }
}